/*body{
  margin:0px;
  padding:0px;
  }*/
nav{
 background-color:#2965e2;
 height:60px;
 border-radius:6px;
  }
img{
  padding-top:2px;
  height:40px;
}
#logo{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
}
nav p{
  margin-top:0px;
  color: white;
}
.chatarea{
  
  height:75vh;
  margin-top:2px;
  background-image: url('Chatbg.png');
  border:2px solid black;
  border-radius:6px;
  overflow:auto;
  
}
.message{
  min-width:20%;
  max-width: 60%;
  background-color:#57e99e;
  border:2px solid black;
  border-radius:10px;
  padding:6px;
  padding-right:10px;
  margin:4px;
  overflow-x:hidden;
  
}
.right{
  float:right;
  clear:both;
}
.left{
  float:left;
  clear:both;
  background-color:white;
}
    
.iright{
  height:350px;
  width:275px;
  
}

.ileft{
  height:250px;
  width:250px;
  
}
#text-type{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:10px;
}
#text-type input{
  width:78%;
  outline:none;
  padding:10px;
  border-radius:30px;
}

#text-type button{
  padding:10px;
  border-radius:150px;
}
#fileupload{
  display:none
}
#cambutton{
  margin-right:2px;
  margin-left:2px;
}